In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-09-29 16:20:29,-23.1203,-134.9692,72.93,70,66,18.97
1,1,Ushuaia,AR,2021-09-29 16:20:30,-54.8000,-68.3000,47.86,37,75,26.46
2,2,Beckum,DE,2021-09-29 16:20:30,51.7500,8.0333,55.85,90,100,18.41
3,3,Grabovo,RU,2021-09-29 16:20:30,53.3875,45.0640,47.53,41,59,5.26
4,4,Avarua,CK,2021-09-29 16:20:31,-21.2078,-159.7750,66.25,100,98,1.14
...,...,...,...,...,...,...,...,...,...,...
576,576,Nueva Concepcion,GT,2021-09-29 16:23:29,14.2000,-91.3000,92.17,66,100,3.31
577,577,Jardim,BR,2021-09-29 16:23:30,-21.4803,-56.1381,105.53,15,6,5.68
578,578,Weligama,LK,2021-09-29 16:23:30,5.9667,80.4167,79.30,85,59,9.55
579,579,Monze,ZM,2021-09-29 16:23:30,-16.2833,27.4833,87.37,14,95,8.79
580,580,Cessnock,AU,2021-09-29 16:23:31,-32.8333,151.3500,62.47,97,100,1.54

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))